NEXT_PUBLIC_WHATSAPP_NUMBER=573135000256
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1Ras3Lpx5J3JvPdwMhAPY00XYA_JMF_6X0fDwQlb4t5E
GOOGLE_SHEET_NAME=products
GOOGLE_SHEET_PUBLIC_CSV_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vQNNI5h8pjXMbHc_Mo55nD6-NIP3Et1JKGkLBvgBC7p4hlbgt0zGsqctTB1cHFP_O-4Hlee2cQgZAna/pub?output=csv
GOOGLE_APPS_SCRIPT_URL=
GOOGLE_APPS_SCRIPT_SECRET=CAMBIA_ESTE_SECRETO
ADMIN_USERNAME=admin
ADMIN_PASSWORD=123456789
SESSION_SECRET=change-this-long-random-secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=